<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>
<body>

<!-- FRAGMENT MENU DE NAVEGACION -->
<nav th:replace="layouts/base-layout :: nav"></nav>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-4">
			<form th:action="@{/movimiento/save-movimiento}" th:object="${movimiento}" method="POST">

				<!-- CAMPO TIPO CONCEPTO -->
				<div class="form-group">
					<label>Concepto</label>
					<select class="form-control"
							th:field="*{tipoConcepto}"
							id="concepto"
							required>
						<option th:each="concepto : ${conceptos}"
								th:value="${concepto.id}"
								th:text="${concepto.nombre}">
						</option>
					</select>
				</div>

				<!-- CAMPO VALOR MOVIMIENTO -->
				<div class="form-group my-2">
					<label>Valor</label>
					<input class="form-control"
						   type="text"
						   th:field="*{valor}"
						   required />
				</div>

				<!-- CAMPO FECHA CREACION MOVIMIENTO -->
				<div class="form-group my-2">
					<label>Fecha Creación</label>
					<input class="form-control"
						   type="date"
						   th:field="*{fechaCreacion}"
						   required />
				</div>

				<!-- BOTON GUARDAR -->
				<div class="text-center">
					<button class="btn btn-secondary" type="submit" >Guardar</button>
				</div>

			</form>
		</div>
	</div>
</div>
</body>
</html>