*{
    font-family: 'Roboto', sans-serif;
}

.film-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 40px auto;
    justify-content: center;
    padding: 0 20px;
}

.galery-item {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta el tamaño según tus necesidades */
    object-fit: cover;
}

.card-title {
    text-align: center;
    padding-top: 10px;
}

.btn-primary {
    margin-top: 10px;
}

.edit-tipo {
    text-decoration:none;
    font-style:italic;
    margin-left:2px;
}

.title {
    margin-left:13%;
}
