<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/base-layout :: head"></head>
<body>
	<nav th:replace="layouts/base-layout :: nav"></nav>

	<!-- MENSAJE FLASH -->
	<div class="alert alert-success text-center" th:if="${tipoGuardado}" th:text="${tipoGuardado}"></div>
	<div class="alert alert-success text-center" th:if="${comentarioGuardado != null}" th:text="${comentarioGuardado}"></div>
	<div class="alert alert-success text-center" th:if="${comentarioModificado != null}" th:text="${comentarioModificado}"></div>
	<div class="alert alert-success text-center" th:if="${comentarioEliminado != null}" th:text="${comentarioEliminado}"></div>

	<div th:if="${saveAgenda}" class="alert alert-success text-center" role="alert">
		<p th:text="${saveAgenda}"></p>
		<a th:href="@{/agenda/download-ticket/{fileName}(fileName=${ticketFileName})}" target="_blank">Ver y descargar ticket</a>
	</div>

	<!-- BUSCADOR -->
	<!--
	<div th:replace="layouts/searchForm :: search-form"></div>
	-->

	<!--
	<div class="film-container">
		<div class="galery-item" th:each="item : ${servicios}">
			<div class="card">
				<a th:href="@{/servicios/ver-comentarios/} + ${item.id}">
					<img class="card-img-top" th:src="@{'/uploads/'+${item.portada}}" alt="Image">
				</a>
				<div class="card-body">
					<h5 class="card-title" th:text="${item.titulo}"></h5>
					<p class="card-text" th:each="i : ${item.tipoServicios}">
						<span th:text="${i.descripcion}"></span>
					</p>

					<div sec:authorize="isAuthenticated()" class="text-center">
						<a class="btn btn-primary" th:href="@{/agenda/agenda-form/} + ${item.id}">Agendar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->

	<div class="film-container">
		<!-- Card 1 -->
		<div class="card">
			<img class="card-img-top" src="/static/images/1.jpg" alt="Image 1">
			<div class="card-body">
				<h5 class="card-title">Título 1</h5>
				<p class="card-text">Descripción del servicio 1.</p>
				<!-- Botón de agendamiento -->
				<div class="text-center">
					<a class="btn btn-primary" href="#">Agendar</a>
				</div>
			</div>
		</div>

		<!-- Card 2 -->
		<div class="card">
			<img class="card-img-top" src="/static/images/2.jpg" alt="Image 2">
			<div class="card-body">
				<h5 class="card-title">Título 2</h5>
				<p class="card-text">Descripción del servicio 2.</p>
				<!-- Botón de agendamiento -->
				<div class="text-center">
					<a class="btn btn-primary" href="#">Agendar</a>
				</div>
			</div>
		</div>

		<!-- Card 3 -->
		<div class="card">
			<img class="card-img-top" src="/static/images/3.jpg" alt="Image 3">
			<div class="card-body">
				<h5 class="card-title">Título 3</h5>
				<p class="card-text">Descripción del servicio 3.</p>
				<!-- Botón de agendamiento -->
				<div class="text-center">
					<a class="btn btn-primary" href="#">Agendar</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>