<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>
<body>

	<nav th:replace="layouts/base-layout :: nav"></nav>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-6 text-center">
				<div class="row form">
					<form th:action="@{/servicios/save-comentario}" th:object="${comentario}" method="POST">
						<h2 th:text="${comentario.servicio.titulo}"></h2>
						<textarea class="form-control mb-2" rows="8" th:field="*{texto}"></textarea>
						<input type="hidden" th:value="${comentario.servicio.id}" />
						<button class="btn btn-outline-success" type="submit">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>